# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts
android/
ios/

# Environment files
.env
.env.*

# macOS
.DS_Store

# Misc
*.log
*.lock
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
